body
{
	color: #f23;
	background: url();
	background-size: cover;
}
.signup
{
	background: rgba(0,0,0,0.1);
	padding: 30px ;
	width: 450px;
	margin: auto;
	height: 480px;
	margin-top: 90px;
	margin-left: 180px;
	margin: 0 auto;
	text-align: center;

}
form
{
	width: 240px;
	text-align: center;
}
input
{
	width: 450px;
	text-align: center;
	background: white;
	border: ;
	border-bottom:;
	font-size: 16px;
	font-weight: 200px;
	padding: 12px 0;
	transition: border white;
	outline: none; 
	color: #f23;
}
input[type=submit]
{
	margin: 8px 0;
	border: none;
	width: 100%;
	background-color: #4CAF50;
	color: white;
	font-size: 16px;
	line-height: 25px;
	padding: 15px 32px;
	border-radius: 15px;
	cursor: pointer;
	text-align: center;

}
input[type=submit]:hover
{
	background-color: #45a049;

}
h1
{
	color: white;
	text-align: center;
	font-size: 50px;
}
h2
{
	color: black;
}
::placeholder
{
	color: :aliceblue;
	opacity: 1.0;

}


